body
{
    background: #eeeeee;
    font-family: tahoma, verdana, sans serif;
    margin: 0px;
    padding: 0px;
}       
canvas
{
    background: black;
    display: block; /*Centering*/
    margin: auto; /*Centering*/
}

#controls
{
    margin-top:10px;
    text-align: center;
}

.divider
{
    clear: both;
    margin-top: 10px;
}