a
{
    color: #000000;
    text-decoration: none;
}
body
{
    background-color: #FEFEFE;
    color: #000000;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
	margin: 0px;
	padding: 0px;
}
h1
{
    float: left;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-top: 15px;
}
li
{
    list-style: none;
}
ul
{
    margin: 0px;
}

#column
{
    margin: auto;
    width: 100%;
}
#content
{
    width: 100%;
}
#divider
{
    border-bottom: solid;
    border-bottom-color: #000000;
    border-bottom-width: 1px;
    clear: both;
}
#dropdownParent li
{
    position: relative;
}
#dropdownParent ul
{
    margin: 0px;
    padding: 0px;
    position: absolute;
}
#highlightAnimated
{
    animation: colorChanger 10s linear infinite;
}
#navigation
{
    display: flex;
    float: right;
    margin-top: 32px;
}
#textWrap
{
    border: solid;
    border-color: #000000;
    border-width: 1px;
    margin: 50px;
    padding: 10px;
}

.dropdownChild
{
    background-color: #FEFEFE;
    border-bottom: solid;
    border-bottom-color: #FEFEFE;
    border-bottom-width: 4px;
    display: none;
    height: 36px;
    margin-top: 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    text-align: center;
}
.dropdownChild + .dropdownChild
{
    margin-top: 0px;
}
.dropdownChild:hover
{
    border-bottom-color: #CACACA;
    transition: .65s ease-in-out;
}
.hidden
{
    display: none;
}
.navigationButtons
{
    border-bottom: solid;
    border-bottom-color: #FEFEFE;
    border-bottom-width: 4px;
    display: inline-block;
    height: 36px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
.navigationButtons:hover
{
    border-bottom-color: #CACACA;
    transition: .65s ease-in-out;
}

@keyframes colorChanger
{
    from
    {
        text-shadow: 0px 0px 1px #FF0000, 0px 0px 1px #FF0000, 0px 0px 1px #FF0000, 0px 0px 1px #FF0000;
    }
    14.28%
    {
        text-shadow: 0px 0px 1px #FF7700, 0px 0px 1px #FF7700, 0px 0px 1px #FF7700, 0px 0px 1px #FF7700;
    }
    28.56%
    {
        text-shadow: 0px 0px 1px #FFDD00, 0px 0px 1px #FFDD00, 0px 0px 1px #FFDD00, 0px 0px 1px #FFDD00;
    }
    42.84%
    {
        text-shadow: 0px 0px 1px #00FF00, 0px 0px 1px #00FF00, 0px 0px 1px #00FF00, 0px 0px 1px #00FF00;
    }
    57.12%
    {
        text-shadow: 0px 0px 1px #0000FF, 0px 0px 1px #0000FF, 0px 0px 1px #0000FF, 0px 0px 1px #0000FF;
    }
    71.40%
    {
        text-shadow: 0px 0px 1px #8A2BE2, 0px 0px 1px #8A2BE2, 0px 0px 1px #8A2BE2, 0px 0px 1px #8A2BE2;
    }
    85.68%
    {
        text-shadow: 0px 0px 1px #C77DF3, 0px 0px 1px #C77DF3, 0px 0px 1px #C77DF3, 0px 0px 1px #C77DF3;
    }
    to
    {
        text-shadow: 0px 0px 1px #FF4400, 0px 0px 1px #FF4400, 0px 0px 1px #FF4400, 0px 0px 1px #FF4400;
    }
}
@media screen and (max-width: 480px)
{
    #columnLeft
    {
        padding-top: 0px;
        width: 100%;
    }
    #navigation
    {
        display: flex;
        float: right;
    }

    .navigationButtons
    {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 1300px)
{
    #columnLeft
    {
        padding-top: 100px;
        width: 60%;
    }
    #columnRight
    {
        display: none;
    }
}
@media screen and (max-width: 1740px)
{
    #columnLeft
    {
        width: 60%;
    }
    #columnRight
    {
        width: 40%
    }
}