a {
    color: #000000;
    text-decoration: none;
}
body {
    background-color: #FEFEFE;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}
footer {
    bottom: 0;
    clear: both;
    position: fixed;
    right: 0;
}
h1 {
    float: left;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-top: 15px;
}
h2 {
    float: left;
    margin-left: 30px;
}
h2 ~ .textWrap {
    clear: both;
}
h3 {
    float: left;
    margin-left: 30px;
}
li {
    list-style: none;
}
ul {
    margin: 0px;
}

#columnLeft {
    float: left;
    padding: 0px;
    width: 60%;
}
#columnRight {
    float: right;
    padding: 0px;
    padding-top: 30px;
    width: 40%;
}
#content {
    width: 100%;
}
#currentNavigationButton {
    border-bottom-color: #FA7800;
}
#divider {
    border-bottom: solid;
    border-bottom-color: #000000;
    border-bottom-width: 1px;
    clear: both;
}
#downloads > .textWrap {
    margin-top: 0px;
}
#dropdownParent li {
    position: relative;
}
#dropdownParent ul {
    margin: 0px;
    padding: 0px;
    position: absolute;
}
#linkBox > .textWrap {
    clear: both;
    margin-top: 0px;
}
#navigation {
    display: flex;
    float: right;
    margin-top: 32px;
}
#thumbnail {
    box-shadow: 4px 4px 8px 0px #000000, 2px 2px 14px 0px #000000;
    display: block;
    float: right;
    margin: 25px;
    margin-top: 50px;
}

.dropdownChild {
    background-color: #FEFEFE;
    border-bottom: solid;
    border-bottom-color: #FEFEFE;
    border-bottom-width: 4px;
    display: none;
    height: 36px;
    margin-top: 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    text-align: center;
    transition: .65s ease-in-out;
}
.dropdownChild + .dropdownChild {
    margin-top: 0px;
}
.dropdownChild:hover {
    border-bottom-color: #CACACA;
}
.navigationButtons {
    border-bottom: solid;
    border-bottom-color: #FEFEFE;
    border-bottom-width: 4px;
    display: inline-block;
    height: 36px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    transition: .65s ease-in-out;
}
.navigationButtons:hover {
    border-bottom-color: #CACACA;
}
.textWrap {
    border: solid;
    border-color: #000000;
    border-width: 1px;
    margin: 50px;
    margin-bottom: 25px;
    margin-right: 0px;
    padding: 10px;
}

@media screen and (max-width: 1280px) {
    img {
        height: 100%;
        width: 100%;
    }

    #columnLeft {
        width: 60%;
    }

    #columnRight {
        width: 40%;
    }
}
@media screen and (max-width: 800px) {
    #columnRight {
        padding-top: 100px;
    }
}
@media screen and (max-width: 720px) {
    h1 {
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    footer {
        float: none;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-align: center;
        width: 100%;
    }

    #columnLeft {
        width: 100%;
    }

    #columnRight {
        display: none;
        padding-top: 0px;
    }

    .dropdownChild {
        height: 42px;
    }

    .navigationButtons {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 480px) {
    #columnLeft {
        clear: both;
        float: none;
    }

    #columnRight {
        display: none;
    }

    #navigation {
        display: flex;
        float: none;
    }

    .navigationButtons {
        padding-left: 15px;
        padding-right: 15px;
    }

    .textWrap {
        margin-left: 50px;
        margin-right: -140px;
        margin-top: -50px;
    }
}