#highlightAnimated
{
    animation: colorChanger 10s linear infinite;
}

.textWrap
{
    background-color: #FEFEFE;
    border: solid;
    border-color: #000000;
    border-width: 1px;
    margin: 50px;
    padding: 10px;
}
.textWrap + .textWrap
{
    margin-top: -25px;
}

@keyframes colorChanger
{
    from
    {
        text-shadow: 0px 0px 1px #FF0000, 0px 0px 1px #FF0000, 0px 0px 1px #FF0000, 0px 0px 1px #FF0000;
    }
    14.28%
    {
        text-shadow: 0px 0px 1px #FF7700, 0px 0px 1px #FF7700, 0px 0px 1px #FF7700, 0px 0px 1px #FF7700;
    }
    28.56%
    {
        text-shadow: 0px 0px 1px #FFDD00, 0px 0px 1px #FFDD00, 0px 0px 1px #FFDD00, 0px 0px 1px #FFDD00;
    }
    42.84%
    {
        text-shadow: 0px 0px 1px #00FF00, 0px 0px 1px #00FF00, 0px 0px 1px #00FF00, 0px 0px 1px #00FF00;
    }
    57.12%
    {
        text-shadow: 0px 0px 1px #0000FF, 0px 0px 1px #0000FF, 0px 0px 1px #0000FF, 0px 0px 1px #0000FF;
    }
    71.40%
    {
        text-shadow: 0px 0px 1px #8A2BE2, 0px 0px 1px #8A2BE2, 0px 0px 1px #8A2BE2, 0px 0px 1px #8A2BE2;
    }
    85.68%
    {
        text-shadow: 0px 0px 1px #C77DF3, 0px 0px 1px #C77DF3, 0px 0px 1px #C77DF3, 0px 0px 1px #C77DF3;
    }
    to
    {
        text-shadow: 0px 0px 1px #FF4400, 0px 0px 1px #FF4400, 0px 0px 1px #FF4400, 0px 0px 1px #FF4400;
    }
}