a {
    color: #000000;
    text-decoration: none;
}
body {
    background-color: #FEFEFE;
    color: #000000;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
	margin: 0px;
	padding: 0px;
}
footer {
    bottom: 0;
    clear: both;
    position: fixed;
    right: 0;
}
h1 {
    float: left;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-top: 15px;
}
indexFooter {
    bottom: -10px;
    position: fixed;
    right: 0;
}
li {
    list-style: none;
}
ul {
    margin: 0px;
}

#404Column {
    margin-top: 50px;
    width: 100%;
}
#404TextWrap {
    border: solid;
    border-color: #000000;
    border-width: 1px;
    float: none;
    margin: 50px;
    padding: 10px;
    text-align: center;
}
#columnLeft {
    float: left;
    padding-top: 325px;
    width: 60%;
}
#columnRight {
    float: right;
    width: 40%;
}
#contactColumn {
    margin: auto;
    width: 100%;
}
#content {
    width: 100%;
}
#currentNavigationButton {
    border-bottom-color: #FA7800;
}
#divider {
    border-bottom: solid;
    border-bottom-color: #000000;
    border-bottom-width: 1px;
    clear: both;
}
#highlightAnimated {
    animation: colorChanger 10s linear infinite;
}
#navigation {
    display: flex;
    float: right;
    margin-top: 32px;
}
#pdfColumn {
    margin: auto;
    width: 950px;
}
#profileImage {
    border: solid;
    border-color: #000000;
    border-width: 1px;
    display: block;
    height: 700px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    width: 700px;
}
#projectsColumn {
    margin: auto;
    width: 1000px;
}
#submit {
    background-color: #FEFEFE;
    border: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 10px;
    text-align: center;
}
#textWrap {
    border: solid;
    border-color: #000000;
    border-width: 1px;
    margin: 50px;
    padding: 10px;
    text-align: center;
}

.buttonTextWrap {
    border: solid;
    border-color: #000000;
    border-width: 1px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
}
.hidden {
    display: none;
}
.linkImg {
    margin-bottom: -10px;
    padding-right: 5px;
}
.navigationButtons {
    border-bottom: solid;
    border-bottom-color: #FEFEFE;
    border-bottom-width: 4px;
    display: inline-block;
    height: 36px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    transition: .65s ease-in-out;
}
.navigationButtons:hover {
    border-bottom-color: #CACACA;
}
.projectsImg {
    display: block;
    margin: auto;
}
.projectsText {
    margin-bottom: 25px;
}
.spacer {
    margin: 10px;
}
.textWrap {
    background-color: #FEFEFE;
    border: solid;
    border-color: #000000;
    border-width: 1px;
    margin: 50px;
    padding: 10px;
}
.textWrap + .textWrap {
    margin-top: -25px;
}

@keyframes colorChanger {
    from {
        text-shadow: 0px 0px 1px #FF0000, 0px 0px 1px #FF0000, 0px 0px 1px #FF0000, 0px 0px 1px #FF0000;
    }
    14.28% {
        text-shadow: 0px 0px 1px #FF7700, 0px 0px 1px #FF7700, 0px 0px 1px #FF7700, 0px 0px 1px #FF7700;
    }
    28.56% {
        text-shadow: 0px 0px 1px #FFDD00, 0px 0px 1px #FFDD00, 0px 0px 1px #FFDD00, 0px 0px 1px #FFDD00;
    }
    42.84% {
        text-shadow: 0px 0px 1px #00FF00, 0px 0px 1px #00FF00, 0px 0px 1px #00FF00, 0px 0px 1px #00FF00;
    }
    57.12% {
        text-shadow: 0px 0px 1px #0000FF, 0px 0px 1px #0000FF, 0px 0px 1px #0000FF, 0px 0px 1px #0000FF;
    }
    71.40% {
        text-shadow: 0px 0px 1px #8A2BE2, 0px 0px 1px #8A2BE2, 0px 0px 1px #8A2BE2, 0px 0px 1px #8A2BE2;
    }
    85.68% {
        text-shadow: 0px 0px 1px #C77DF3, 0px 0px 1px #C77DF3, 0px 0px 1px #C77DF3, 0px 0px 1px #C77DF3;
    }
    to {
        text-shadow: 0px 0px 1px #FF4400, 0px 0px 1px #FF4400, 0px 0px 1px #FF4400, 0px 0px 1px #FF4400;
    }
}

@media screen and (max-width: 1280px) {
    #columnLeft {
        padding-top: 150px;
        width: 60%;
    }
    #columnRight {
        width: 40%;
    }
}
@media screen and (max-width: 720px) {
    h1 {
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    footer {
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
    }

    #columnLeft {
        padding-top: 0px;
        width: 58%;
    }
    #columnRight {
        width: 42%;
    }

    .dropdownChild {
        height: 42px;
    }
    .navigationButtons {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 480px) {
    #columnLeft {
        clear: both;
        float: none;
        width: 100%;
    }
    #columnRight {
        display: none;
    }
    #navigation {
        display: flex;
        float: none;
    }

    .navigationButtons {
        padding-left: 15px;
        padding-right: 15px;
    }
    .textWrap {
        margin-left: 50px;
        margin-right: -140px;
        margin-top: -50px;
    }
}