/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
button
{
    position: absolute;
    color: red;
    font-weight: bold;
    height: 30px;
    width: 130px;
    z-index: 100;
}
#worldZoomButton
{
    top: 70px;
    left: 10px;
}
#defaultZoomButton
{
    top: 110px;
    left: 10px;
}
#buildingZoomButton
{
    top: 150px;
    left: 10px;
}
#isometricViewButton
{
    top: 190px;
    left: 10px;
}